.navWrapper{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 3rem;
}

.daysWrapper{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-auto-rows: 4rem;
   grid-gap: 1rem;
   max-width: 50rem;
   margin: auto;
}

.dateLabel{
   display: flex;
   // flex-grow: 1;
   justify-content: center;
}